.container {
   display: flex;
   border-right: 1px solid #ccc;
   box-sizing: border-box;
}

.box {
   height: 300px;
   background-color: #000;
   border: 1px solid #fff;
   box-sizing: border-box;
}

.box1 {
   background-color: red;
   flex: 1 1 auto;
}

.box2 {
   background-color: blue;
   flex: 1 1 auto;
}

.box3 {
   background-color: yellow;
   flex: 1 1 auto;
}

