.modal {
   position: absolute;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   /* z-index: 100; */
   background-color: rgba(0,0,0, 0.7);
}

.inner {
   position: absolute;
}

.center {
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: inline-block;
}

.transparent {
   background-color: transparent;
}